<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ message }}</title> <!-- แสดง message ที่ส่งมาจาก controller -->
    <style>
        body {
            background-color: #f0f8ff;
            font-family: 'Arial', sans-serif;
            text-align: center;
            padding: 50px;
        }
        h1 {
            color: #2c3e50;
            font-size: 36px;
            margin-bottom: 20px;
        }
        img {
            border-radius: 50%;
            margin-top: 20px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        }
        .profile-info {
            background-color: #ffffff;
            border-radius: 10px;
            padding: 20px;
            margin-top: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .profile-info h3 {
            color: #3498db;
        }
        .profile-info p {
            font-size: 18px;
            color: #555;
        }
    </style>
</head>
<body>
    <h1>PROFILE</h1> <!-- แสดง message -->
    <img src="https://scontent.furt3-1.fna.fbcdn.net/v/t39.30808-6/462232278_1707645153369605_2782627803151358640_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeGZvyUZMTk_NqdT3TpfFHUVcCPcqw-WuPpwI9yrD5a4-tczX-rPh6X7AEmvAlrJDSba830Ry8xPONizH1cdVfN0&_nc_ohc=qk1fuiWxF5IQ7kNvwGK7oJ_&_nc_oc=Adnu9f-uZq8s_HOspAcYYmJZqqCTH4F3kGeyDkGTOsFXkjUcjG9M2vdUDb-yKBv5e3WrwTTVGj2Ls7Y48ZCgZPcj&_nc_zt=23&_nc_ht=scontent.furt3-1.fna&_nc_gid=qYJBnJrX3i1dBQr6Q3bpAg&oh=00_AfGTSuYazN-1h_P79_Fh_j6cx4taLd_rnNKY7m0r5D6MIA&oe=6817321A" alt="My Picture" width="200" height="200">

    <div class="profile-info">
        <h3>Profile Information</h3>
        <p><strong>Name: Peeranat Chuenkeaw</strong> {{ name }}</p> <!-- แสดงชื่อ -->
        <p><strong>Age: 21</strong> {{ age }}</p> <!-- แสดงอายุ -->
        <p><strong>Email: aumusiclove123@gmail.com</strong> {{ email }}</p> <!-- แสดงอีเมล -->
        <p><strong>Bio: Digital Engineering</strong> {{ bio }}</p> <!-- แสดง bio -->
    </div>
</body>
</html>
